/node_modules
/dist
/docs
/tests
temp/
/datetimepicker/**/*.d.ts
/datetimepicker/**/*.json
/core/**/*.d.ts
/core/**/*.json
/switch/**/*.d.ts
/switch/**/*.json
/select/**/*.d.ts
/select/**/*.json
/typeahead/**/*.d.ts
/typeahead/**/*.json
/*/dist
/*.d.ts
/*.metadata.json

package-lock.json
tsdoc-metadata.json
*.log
*.bak
*.orig
*.map
*~